#app {
    width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error {
    color: red;
    text-align: center;
    font-size: 28px;
}

input {
    height: 40px;
    font-size: 30px;
    margin-bottom: 15px;
}

.remove {
    min-width: 200px;
    font-size: 24px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.add {
    margin-top: 20px;
    height: 40px;
    font-size: 30px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

[v-cloak] {
    display: none;
  }